@import url(main.css);

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: var(--cor-nav-bar);
}

.usuario {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.usuario img {
  width: 10vw;
  border-radius: 10rem;
}

.usuario p {
  font-weight: bold;
  color: var(--cor-secundaria);
}

/* apliquei isto pois estava aparecendo um sublinhado de link nas imagens */
.icones-nav-bar a {
  text-decoration: none;
}

.icones-nav-bar img {
  width: 6vw;
}

.banner {
  padding: 0.5rem;
}

.banner img {
  /* essa config para fazer com que a imagem pare de ocupar o espaço invisivel e empurrar o layout */
  display: block;
  max-width: 100%;
  height: auto;

  border-radius: 1rem;
}

.container {
  padding: 1rem;
}

.explore-nossas-opcoes h3 {
  margin: 1rem;
  color: var(--cor-secundaria);
}

.opcoes {
  background-color: var(--cor-nav-bar);
  padding: 1rem 0rem;

  display: flex;
  justify-content: space-around;
}

.opcao {
  text-align: center;
}

.opcao img {
  width: 22vw;
  height: 10vh;
  border-radius: 50%;
}

.opcao p {
  margin-top: 0.5rem;
  font-weight: bold;
  color: var(--cor-secundaria);
}

.hospitais-proximos h3 {
  color: var(--cor-secundaria);
  margin-bottom: 1rem;
}

.hospital {
  border-bottom: 1px solid var(--cor-secundaria);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lado-esquerdo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.estrela-avaliacao {
  width: 2vw;
}

.hospital img {
  width: 15vw;
  height: 8vh;
  border-radius: 50%;
}

