@import url(main.css);
@import url(formulario-login.css);

header{
    margin: 0 1rem;
}

.logo {
    width: 100px;
    display: block
}

.container {
    margin: 2rem;
}

.formulario-login {
    margin-top: 2rem;
}

.input-icon {
    width:2rem;
}

